.venv/
.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.egg-info/
*.dist-info/
*.build-info/

# Ignore all files in the fine_tuned_model_dojo directory
fine_tuned_model_dojo/

# Ignore all files in the wandb directory
wandb/
